* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    margin: 0 0 1rem 1rem;
}

aside {
    position: relative;
}

aside img {
    display: block;
    width: 200px;
    height: auto;
    margin: 0 auto 1rem auto;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 50%;
    transform: translateX(-50%);
}